openapi: 3.0.2
info:
  title: Processing and Saving Incoming Requests API
  description: An API for processing and saving incoming requests from providers
  version: 1.0.0
servers:
  - url: http://localhost:8080
paths:
  /transactions:
    post:
      operationId: CreateTransaction
      summary: Process and save an incoming request
      parameters:
        - $ref: '#/components/parameters/SourceType'
      tags:
        - transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
      responses:
        '200':
          description: The request was processed and saved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: The request was invalid or missing required fields
        '500':
          description: An error occurred while processing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred while processing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Transaction:
      type: object
      properties:
        accountId:
          type: integer
          description: The account ID of the transaction
          example: 1
        state:
          type: string
          description: The state of the request (win or lost)
          enum:
            - Win
            - Lost
          example: Win
        amount:
          type: number
          description: The amount of the request
          example: 10.15
        transactionId:
          type: string
          description: The transaction ID of the request
          example: some generated identificator
      required:
        - accountId
        - state
        - amount
        - transactionId
    Error:
      type: object
      required:
        - code
        - message
      properties:
        message:
          type: string
          example: Internal server error
        data:
          type: object
          additionalProperties: true

  parameters:
    SourceType:
      name: Source-Type
      in: header
      description: The type of source that the request came from (game, server, or payment)
      required: true
      schema:
        type: string
        enum:
          - game
          - server
          - payment
      example: game
